<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <title>PharmacyZdorovie</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__nav">
                    <div class="header__nav_logo">
                        <a href="" class="header__nav_logo-a"><img src="{% static 'header/logo.svg' %}" alt="logo"></a>
                    </div>
                    <form class="header__nav_form" data-modal action="#">
                        <div class="header_nav_form-inner">
{#                            <input class="header__nav_input" type="text" placeholder="Search">#}
{#                            <img src="{% static 'header/search.svg' %}" alt="Search" style="z-index: 2;">#}
                        </div>
                    </form>
                    <div class="header__nav_card">
                        <div class="header__nav_card-content">
                            <div class="nav__card_top-text">
                                <span>Daniel Ray</span>
                                <p>Chief manager</p>
                                <div class="nav_card_line"></div>
                            </div>
                            <div class="nav__card_bottom-text">
                                <span>Purchases - 139</span>
                                <p>Implemented - 23</p>
                            </div>
                        </div>
                        <div class="header__nav_card_img">
                            <img src="{% static 'header/header_man.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="info">
        <div class="container">
            <div class="info__inner">
                <div class="info__content">
                    <div class="info__content_img" style="    background: url(../images/info/info_img.jpg) ,linear-gradient(90deg, rgba(11, 67, 11, 0.74) 8.99%, rgba(217, 217, 217, 0) 99.12%);">
                        <h3>November 19-23 warehouse sorting</h3>

                    </div>
                    <div class="info_content_left">
                        <div class="info_content_left-first">
                            <div class="info_left_first-staff">
                                <a href="/users/" target="_blank">
                                    <p>Staff</p>
                                </a>
                                <img src="{% static 'info/staff.svg' %}" alt="">
                            </div>
                            <div class="info_left_first_person">
                                <div class="info_left_first_person-logo">
                                    <img src="{% static 'info/Ellipse 39.png' %}" alt="">
                                </div>
                                <div class="info_left_first_person-content">
                                    <span>Johny Sins</span>
                                    <p>Manager </p>
                                </div>
                            </div>

                            <div class="info_left_first_person">
                                <div class="info_left_first_person-logo">
                                    <img src="{% static 'info/Ellipse 39.png' %}" alt="">
                                </div>
                                <div class="info_left_first_person-content">
                                    <span>Kim Wu</span>
                                    <p>Chef Manager</p>
                                </div>
                            </div>

                            <div class="info_left_first_person">
                                <div class="info_left_first_person-logo">
                                    <img src="{% static 'info/Ellipse 39.png' %}" alt="">
                                </div>
                                <div class="info_left_first_person-content">
                                    <span>Harry Jhonson</span>
                                    <p>Chef Manager</p>
                                </div>
                            </div>

                        </div>


                        <a href="https://2gis.kg/bishkek/search/%D0%90%D0%BF%D1%82%D0%B5%D0%BA%D0%B8/firm/70000001020287171?m=74.580029%2C42.862216%2F13.42"
                           target="_blank">
                            <div class="info_left_first-stoct mini">
                                <div class="info_left_first-st-inner">
                                    <div class="info_left_first-stact">
                                        <p>Map pharmacies</p>
                                        <img src="{% static 'info/placeholder.svg' %}" alt="" style="margin-left: 10px;">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="catalog">
        <div class="container">
            <div class="catalog_inner">
                <div class="catalog_info">
                    <a href="/category/" target="_blank">
                        <button class="btn_category">Сategories</button>
                    </a>

                </div>
            </div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide_1">
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide1.jpg' %}" alt="">
                        </div>

                        <span>Antipyretic</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide2.jpg' %}" alt="">
                        </div>
                        <span>For kids</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide3.jpg' %}" alt="">
                        </div>
                        <span>Antibiotics</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide1.jpg' %}" alt="">
                        </div>
                        <span>Contraceptives</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide5.jpg' %}" alt="">
                        </div>
                        <span>Anti-allergic</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide6.jpg' %}" alt="">
                        </div>
                        <span>Аntidepressants</span>
                    </div>
                </div>
                <div class="swiper-slide slide_2">
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide1.jpg' %}" alt="">
                        </div>
                        <span>Antipyretic</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide2.jpg' %}" alt="">
                        </div>
                        <span>For kids</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide3.jpg' %}" alt="">
                        </div>
                        <span>Antibiotics</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide1.jpg' %}" alt="">
                        </div>
                        <span>Contraceptives</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide5.jpg' %}" alt="">
                        </div>
                        <span>Anti-allergic</span>
                    </div>
                    <div class="swiper_block">
                        <div class="swiper_block_img">
                            <img src="{% static 'slider/slide6.jpg' %}" alt="">
                        </div>
                        <span>Аntidepressants</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="classification">
        <div class="container">
            <div class="classification_inner">
                <h2>About Pharmacy</h2>

                <h2>LLC "Zhodorivie Pharmacy" has been present in the pharmaceutical market of
                    Kyrgyzstan since 1997. The company has a wholesale warehouse with a total area of more than 2000 sq.m.,
                    which has a fully equipped warehouse and strict compliance with the storage conditions of medicines,
                    as well as a logistics chain.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_right">
                    <h5><b>Office:</b></h5>
                    <p>Kyrgyzstan, Bishkek, ​Maldybaeva, 34B​ 5th floor Oktyabrsky district, Bishkek, 720020</p>
                </div>
                <div class="footer_left">
                    <div class="footer_left_admin">
                        <h5><b>Administration: </b></h5>
                        <span>+996 (312) 54‒92‒38</span>
                    </div>
                    <div class="footer_left_info">
                        <h5>For questions:</h5>
                        <p>
                            <a href="https://wa.me/996708540691" target="_blank">
                                +996 (708) 540691
                            </a>
                            <a href="https://wa.me/996708540691" target="_blank">
                                +996 (708) 540691
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal">
        <div class="modal_inner">
            <div class="modal_content">
                <div class="modal_item">
                    <img src="{% static 'modal/modal_1.png' %}" alt="">
                    <div class="modal_item_content">
                        <h3>Paracetamol</h3>
                        <p>Analgesic/antipyretic/</p>
                        <span>ИнформацияИнформацияИнформацияИнформацияИнформация</span>
                    </div>
                </div>
                <div class="modal_item">
                    <img src="{% static 'modal/modal_1.png' %}" alt="">
                    <div class="modal_item_content">
                        <h3>Paracetamol</h3>
                        <p>Analgesic/antipyretic/</p>
                        <span>ИнформацияИнформацияИнформацияИнформацияИнформация</span>
                    </div>
                </div>
                <div class="modal_item">
                    <img src="{% static 'modal/modal_1.png' %}" alt="">
                    <div class="modal_item_content">
                        <h3>Paracetamol</h3>
                        <p>Analgesic/antipyretic/</p>
                        <span>ИнформацияИнформацияИнформацияИнформацияИнформация</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src='{% static 'js/app.js' %}'></script>
</body>
</html>



